@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Raleway");

// --------------------
// Variables
$primary: #32c3ff;
$dark: #202020;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

// --------------------
// Body
// --------------------
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $dark;
  color: $white;
}

// --------------------
// Reusable
// --------------------
.link:hover {
  text-decoration: none;
}

// --------------------
// Home
// --------------------
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Showcase
// --------------------
.Showcase {
  .customize-btn {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 15px;
    background-image: linear-gradient(-45deg, #ff4040, #ff8410);
    border: 1px solid $white;
    box-shadow: 0px 0px 40px rgba(255, 191, 71, 0.7);
    position: fixed;
    bottom: 30px;
    right: 5vw;
    transition-property: all;
    transition-duration: 0.3s;
  }
  .customize-btn:hover {
    transform: translateY(-2px);
    background-image: linear-gradient(-45deg, #b92020, #cc680b);
    box-shadow: 0px 0px 15px rgba(255, 191, 71, 0.7);
  }
  .customize-btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 0px 30px rgba(255, 191, 71, 0.7);
  }
  .showcase__top-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .showcase__scroll-container {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .showcase__box-container {
      p,
      h3 {
        margin: 0;
      }
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .showcase__box {
        width: 20vw;
        height: 20vw;
        background-image: linear-gradient(-45deg, #ff6464, #ff9419);
        border: 2px solid white;
      }
      .unlike {
        color: #8d8c8c;
      }
      .like {
        color: #ff6464;
      }
    }
  }
}

// --------------------
// Style for ShowcaseBox component
.ShowcaseBox {
  .box-dimensions {
    width: 25vh;
    height: 25vh;
    line-height: 25vh;
    font-size: 6rem;
  }
}

// --------------------
// Style for CustomizeForm component
.CustomizeForm {
  .mute {
    right: 2rem;
  }
}
