// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins');

// --------------------
// Variables
// --------------------
$primary: #ff8410;
$primary-light: #ffb731;
$primary-super-light: #ff9c5b;
$secondary: #ff4040;
$secondary-light: #ff6e6e;
$grey: #a3a3a3;
$dark: #202020;

// --------------------
// Body
// --------------------
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: $dark;
  color: $white;
}

// --------------------
// Reusable
// --------------------
.link:hover {
  text-decoration: none;
}

.container-50vh {
  height: 50vh;
}

.scroll-down-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase-box-container {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.showcase-box {
  width: 20vw;
  height: 20vw;
  background-image: linear-gradient(-45deg, $secondary-light, $primary-light);
  border: 2px solid white;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  outline: none;
}

// --------------------
// Home
// --------------------
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// CodeSnipppetModal
// --------------------
.CodeSnipppetModal {
  .hidden {
    position: absolute;
    opacity: 0.01;
    height: 0;
    overflow: hidden;
  }
}

// --------------------
// Showcase
// --------------------
.Showcase {
  .unlike {
    color: $grey;
  }
  .like {
    color: $secondary;
  }
  .category-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .category {
    letter-spacing: 0.4rem;
  }
}

// --------------------
// Category Navbar
// --------------------
.CategoryNavbar {
  background-color: $dark;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  ul {
    margin: 0.2rem 12rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .nav-link {
    letter-spacing: 0.2rem;
    transition-property: all;
    transition-duration: 0.6s;
  }
  .nav-link:hover {
    color: $primary-super-light !important;
  }
}

// --------------------
// Style for CustomizeForm component
.CustomizeForm {
  .code-snippet-modal {
    position: fixed;
    bottom: 30px;
    right: 5vw;
  }
}

//------------- Buttonssss -------------

// --------------------
// Customize Button
// --------------------
.btn-customize {
  letter-spacing: 1px;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 15px;
  background-image: linear-gradient(-45deg, $secondary, $primary);
  border: 1px solid $white;
  box-shadow: 0px 0px 50px rgba(lighten($primary, 30%), 0.7);
  position: fixed;
  bottom: 30px;
  right: 5vw;
  transition-property: all;
  transition-duration: 0.3s;
  z-index: 2;
}
.btn-customize:hover {
  transform: translateY(-2px);
  color: $light;
  background-image: linear-gradient(
    -45deg,
    darken($secondary, 30%),
    darken($primary, 10%)
  );
  box-shadow: 0px 0px 15px rgba($primary, 0.7);
}
.btn-customize:active {
  transform: translateY(-1px);
  box-shadow: 0px 0px 30px rgba($primary, 0.7);
}

//------------- Animationsssssssssssss -------------

// --------------------
// TextTranslateX
// --------------------
.TextTranslateX {
  position: fixed;
  top: 50vh;
  left: 10vw;
  .TextTranslateX__text {
    margin-left: 2px;
    display: inline-block;
  }
}

// --------------------
// TextTranslateY
// --------------------
.TextTranslateY {
  .TextTranslateY__text {
    display: inline-block;
  }
}

// --------------------
// Property text
// --------------------
.property-text {
  position: fixed;
  top: 50vh;
  left: 10vw;
}
